<section class="flexcol" style="gap: 10px;">

    <div class="form-group">    
        <label>Name</label>
        <div class="form-fields">
            <input type="text" name="name" value="{{name}}"/>
        </div>
        <p class="hint">The name will be used as a unique identifier for this effect.</p>
    </div>

    {{#if macro}}
    <label>Macro:</label>
    <textarea style="width: 100%; height: 280px;" readonly>{{macro}}</textarea>
    {{else if (eq documentName "MeasuredTemplate")}}
    <div class="form-group">    
        <label>Texture</label>
        <div class="form-fields">
            <file-picker name="texture" type="imagevideo" value="{{texture}}"></file-picker>
        </div>
        <p class="hint">Texture to be applied to the MeasuredTemplate along with the filter.</p>
    </div>
    {{/if}}

    <div class="form-group">    
        <label>Clean Randomized</label>
        <div class="form-fields">
            <input type="checkbox" name="filterRandomized" {{checked filterRandomized}}/>
        </div>
        <p class="hint">Remove inactive randomized fields.</p>
    </div>

    <div class="form-group">    
        <label>Clean Animated</label>
        <div class="form-fields">
            <input type="checkbox" name="filterAnimated" {{checked filterAnimated}}/>
        </div>
        <p class="hint">Remove inactive animated fields.</p>
    </div>
</section>