<div>
    <ol class="filter-list plain flexcol">
    {{#each filters}}
    <li class="filter flexrow" data-filter-id="{{filterId}}" data-filter-type="{{filterType}}" data-filter-internal-id="{{filterInternalId}}" draggable="true">
        <img class="thumbnail" src="{{thumbnail}}" loading="lazy">
        <a class="name ellipsis" data-action="edit" >{{label}} <span class="type">[ {{filterType}} ]</span></a>
        <a class="toggle{{#if enabled}} active{{/if}}" data-action="toggle" data-tooltip="Toggle ON/OFF"><i class="fa-sharp fa-solid fa-power-off"></i></a>
        <a class="delete" data-action="delete" data-tooltip="Delete"><i class="fa-solid fa-trash"></i></a>
    </li>
    {{/each}}
    </ol>
</div>